<header class='todo-header'>
  <h1>My first Todo application</h1>
</header>
<section class='todo-main'>
  <%= form_for(Task.new) do |form| %>
    <%= form.text_field(:body, placeholder: 'Type here') %>
    <%= form.submit %>
  <% end %>
  <ul class='todo-list'>
    <% @tasks.each do |task| %>
      <li><%= task.body %></li>
    <% end %>
  </ul>
</section>
<footer class='todo-footer'>
  Copyright 2014 • Rails Girls Warsaw
</footer>
