<!DOCTYPE html>
<html>
<head>
  <title>ToDo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class='todo-header'>
    <h1>My first Todo application</h1>
  </header>

  <%= yield %>

  <footer class='todo-footer'>
    Copyright 2014 • Rails Girls Warsaw
  </footer>
</body>
</html>
